
@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200;400&family=Poppins:wght@100;200;300&family=Roboto:wght@300&display=swap");

:root {
  --primary-color: #319b9b;
  --secudary-color: #ffffff;
  --btn-color:#0a8eda;
  --resultado--conta:#1cd453;
}
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
    background-color: var(--primary-color);
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: 12px;
  overflow: hidden;
}
.container{
    width: 450px;
    height: 550px;
    border-radius: 1.3em;
    padding: 1.8em;
    background-color: var(--secudary-color);
}
.organiza{
    display: flex;
    justify-content: space-between;
    margin-top: .4em;
}

form{
    margin-top: 1.3em;
}

form input, label{
    display: block;
    height: 40px;
    width: 100%;
}
form input{
    font-size: 1.2em;
}
form label{
    font-size: 1.3em;
}

form input[type="submit"]{
    background-color: var(--btn-color);
    margin-top: 1.2em;
    color:var(--secudary-color);
    font-size: 1.2em;
    border: none;
    font-size: 1.3em;
    cursor: pointer;
    border-radius: 0.4em;
}
form input[type="submit"]:hover{
    background-color: rgba(0, 0, 0, 0.7 );
}
form input:focus{
    outline: 1px solid var(--btn-color);
}
#resultado{
    margin-top: 15px;
    width: 100%;
    /* background-color: var(--resultado--conta); */
    font-size: 1.3em;
   
}

.p-certo{
    background-color: #0fe384;
    font-size: 0.8em;
    padding: 0.7%
}

.p-errado{
    background-color: #e30f0f;
    font-size: 0.8em;
    padding: 2%
}

@media screen and (max-width:667px){
    p{
        font-size: 0.9em;
    }
    .container{
        margin-top: 2.7em;
    }
}


@media screen and (min-width:1200px){
  
    body{
        align-items: center;
    }
}